name: CI

# When to run the workflow
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  frontend-unit-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install
      - run: npm test -- --watchAll=false --ci

  backend-unit-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    env:
      PYTHONPATH: ${{ github.workspace }}/backend
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Clean workspace
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h  # Check disk space

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r backend/requirements.txt

      - name: Run tests
        run: |
          source venv/bin/activate
          python -m pytest backend/*/tests/

  backend-integration-tests-and-e2e-tests:
    runs-on: ubuntu-latest
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      AUTH_SECRET_KEY: ${{ secrets.AUTH_SECRET_KEY }}
      AUTH_ALGORITHM: ${{ secrets.AUTH_ALGORITHM }}
    defaults:
      run:
        working-directory: .
    needs: [backend-unit-tests, frontend-unit-tests]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Clean workspace
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h  # Check disk space

      - name: Build and run Docker containers
        run: |
          docker compose up -d --build frontend gateway inference_service rag_service user_service postgres weaviate

      - name: Build and run integration tests
        run: |
          docker compose build backend_integration_tests
          docker compose run --rm backend_integration_tests

      - name: Build and run e2e tests
        run: |
          docker compose up --build e2e_tests
